@import "../../styles/colors.scss";

.pageTitle {
  background: $gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-align: center;
  padding: 35px;
}

.container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  p {
    text-align: center;
    margin: auto;
    padding: 50px;
    opacity: .5;
  }
}



