@import "../../styles/colors.scss";

.container {
  max-width: 830px;
  margin: auto;
  color: $tertiary;
  padding: 15px;
}

@media (prefers-color-scheme: dark) {
  .container {
    color: $dark-tertiary 
  }
}
