

// Light color Scheme---------------------------
$primary: #1a1a3a;
$secondary: #2a2a4a;
$tertiary: #1a1a3a;

$site-backround-color: #08090a;
$menu-background-color: #2a244a;
$header-colors: #a9a9c4;
$header-colors-hover: #9989e4;

$mask-color: #1d1e2dca;
$border-color: #ceceee;
$border-header-color: #dedefe;

$gradient: linear-gradient(310deg, #ff8966 0%, #e5446d 80%);
$gradient-secondary: linear-gradient(200deg, #ff8966 0%, #e5446d 80%);

$callout-color: #e5446d;
$callout-secondary: #ff8966;
$white-text-color: #facaca;

$index-leaves-color:#aaaafa;
$index-leaves-opacity:0.15;

$button-secondary: #1a1a2a;


// Dark color Scheme---------------------------
$dark-primary: #3a3a3a;
$dark-secondary: #5d5e9d;
$dark-tertiary: #8d8ebd;

$dark-site-backround-color: #08090a;
$dark-menu-background-color: #08090a;

$dark-index-leaves-color:#aaaafa;
$dark-index-leaves-opacity: 0.3;

$dark-mask-color: #1d1e2dca;
$dark-border-color: #1d1e2d;

$dark-gradient: linear-gradient(310deg, #ff8966 0%, #e5446d 80%);
$dark-callout-color: #e5446d;
$dark-white-text-color: #facaca;

$dark-button-secondary: #1a1a2a;


