@import "../../styles/colors.scss";

.card {
  display: flex;
  gap: 15px;
  max-width: 1000px;
  margin: 35px auto;
  position: relative;

  .imagesCarousel {
    width: 300px;
    position: relative;

    img {
      max-width: 100%;
      height: initial;
    }
  }

  .info {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    color: $tertiary;
  }

  .title {
    font-size: 22px;
    font-weight: 600;
  }

  .subtitle {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    opacity: 0.8;
    font-weight: 300;
  }

  .tags {
    margin-top: auto;
    margin-bottom: 5px;
  }

  .description {
    opacity: 0.8;
  }

  .tag {
    background: lighten($callout-color, $amount: 15) ;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 0 55px 0 55px;
    color: $primary;
    opacity: .9;
    transition: 300ms;
    margin: 3px;

    &:hover {
      opacity: 1;
      cursor: default;
    }
  }

  .action {
    position: absolute;
    bottom: 3px;
    right: 0px;
    border-radius: 5px;
    color: $secondary;
    font-size: 14px;
    padding: 10px 20px 8px;
    background: $gradient;
    cursor: pointer;
    transition: 300ms;
    // font-weight: 400;
    font-weight: 500;
    &:hover {
      background: $gradient-secondary;
      opacity: 1;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .card {

    .info {
      color: $dark-tertiary;
  
    .tag {
      background: $callout-color;
      color: #000;
      letter-spacing: 1px;
    }
  }
}
}
@media screen and (max-width: 450px) {
  .card {
    padding: 0 15px;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;

    .imagesCarousel {
      width: 300px;
      margin: auto;
  
      img {
        max-width: 100%;
      }
    }

    .tags {
      margin-top: 20px;
      margin-bottom: 5px;
    }

    .action {
      position: relative;
      margin: 15px auto;
    }
  }
}
