@import "../styles/colors.scss";

.specialDivBorder {
  border-radius: 72% 18% 29% 61% / 42% 14% 56% 58%;
  width: 500px;
  height: 450px;
  background-color: $index-leaves-color;
  opacity: $index-leaves-opacity;
  position: fixed;
}

@for $i from 1 through 20 {
  .specialDivBorder:nth-child(#{$i}) {
    left: ($i) * 55px;
    top: $i * 35px;
    margin-top: 50px;
  }
}

.container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  vertical-align: middle;
  justify-content: flex-start;
}

.half {
  width: 50%;
  // background-color: red;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  vertical-align: bottom;
  height: 500px;
  margin: auto;
  padding: 25px;

  h2 {
    color: $secondary;
    margin-top: auto;
    font-weight: 300;

    span {
      font-weight: 400;
      font-size: 28px;
      display: inline-block;
      background: $gradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    color: $secondary;
    margin: 20px 0;
    font-weight: 300;
  }

  .callout {
    margin: 25px -15px auto;
  }
}

.error404 {
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: 100;
    margin: 45px;
    text-align: center;
    font-size: 165px;
    text-shadow: #8d8ec5 3px 5px 10px;
  }

  p {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 42px;
    font-weight: 100;
    opacity: 0.4;
  }
}

@media screen and (max-width: 600px) {
  .specialDivBorder {
    display: none;
  }

  .half {
    width: 100%;

    &:nth-child(1) {
      display: none;
    }
  }

  .container {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .half {
    h2 {
      color: $dark-secondary;
      margin-top: auto;
      font-weight: 300;
    }

    p {
      color: $dark-tertiary;
      margin: 20px 0;
      font-weight: 300;
    }
  }
}
