@import "../../../styles/colors.scss";

.header {
  border-bottom: solid 1px $border-header-color;
  padding: 20px 0;
  background-color: $menu-background-color;

  .container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    vertical-align: middle;
    align-items: center;
    flex-direction: row;
    padding: 0 10px;
  }

  h1 {
    font-size: 26px;
    background: $gradient;
    opacity: 0.9;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  nav {
    margin-left: auto;
  }

  .link {
    padding: 10px;
    margin: auto;
    color: $header-colors;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    transition: 300ms;
    &:hover {
      color: $header-colors-hover;
    }
  }
}

.mobile {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .header {
    border-bottom: solid 1px $dark-border-color;
    background-color: $dark-menu-background-color;
  
    .link {
      color: $dark-secondary;
      &:hover {
        color: $header-colors-hover;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .header {
    .mobile {
      display: block;
      position: relative;

      button {
        font-size: 32px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 15px;
        right: 20px;
        color: $dark-tertiary;
      }

      h1 {
        position: inherit;
        border-bottom: none;
        padding: 15px;
      }
    }
  }

  .close {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 95;
    left: 0;
    top: 0;
    background-color: $mask-color;
    left: -100vw;
    transition: 300ms;
    &.active {
      left: 0;
    }
  }

  .header {
    h1 {
      padding: 40px;
      border-bottom: solid 1px $border-color;
    }
    .container {
      flex-direction: column;
      background-color: $menu-background-color;
      height: 100vh;
      top: 0;
      position: fixed;
      z-index: 99;
      width: 85vw;
      left: -100vw;
      transition: 300ms 50ms;

      nav {
        flex-direction: column;
        justify-content: center;
        margin: 15px auto;
        padding: 25px;
      }

      .link {
        display: flex;
        text-align: center;
        font-size: 18px;
        margin: auto;
      }
    }

    &.active {
      .container {
        left: 0;
      }
    }
  }
}
