@import "../../styles/colors.scss";

.myProjects {
  .mainTitle {
    font-size: 38px;
    margin: 25px auto;
    font-weight: 500;
    display: block;
    text-align: center;
    background: $gradient border-box;
    width: fit-content;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mainDescription {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    padding: 0 35px;
    padding-bottom: 25px;
    color: $tertiary;
    border-bottom: solid 1px $border-color;
  }
}

@media (prefers-color-scheme: dark) {
  .myProjects {  
    .mainDescription {
      color: $dark-tertiary;
      border-bottom: solid 1px $dark-border-color;
    }
  }
}
