@import "../../styles/colors.scss";

.mask {
  position: fixed;
  background-color: rgba(30,30,50,.9);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index:10;
  transition: 400ms;
}

.modal {
  background: linear-gradient(310deg, rgba(255, 137, 102, 0.3), rgba(255, 68, 109, 0.7));
  position: fixed;
  max-width: 90%;
  transition: 400ms;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  border: solid 1px #2a2a2a;
  padding-bottom: 25px;
  z-index: 12;

  .title {
    margin: 25px;
    font-size: 28px;
    font-weight: 100;
    color: $white-text-color;
  }

  .transparentButton {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 24px;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      transform: scale(1.2);
    }
  }

  .container {
    margin: 0 25px;
  }

  .button {
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
    color: rgb(255, 68, 109);;
    background-color: #cacaca;
    margin-top: 25px;
    transition: 300ms;
    width: 100%;

    &:hover {
      background-color: #fafafa;
    }
  }

  .whatsapp {
    font-size: 13px;
    text-align: center;
    padding: 10px 15px;
    opacity: .9;
    margin: auto;
    display: block;
    color: #128c7e;
    font-weight: 500;
    transition: 300ms;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }


}
