@import "../../../styles/colors.scss";

.button {
  border: solid 1px;
  cursor: pointer;
  border-image: $gradient 1;
  text-decoration: none;
  font-size: 15px;
  margin: 0 15px;
  color: $secondary;
  padding: 10px 15px;
  background: $gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 300ms;
  &:hover {
    background-color: $secondary;
    opacity: 1;
    background: $gradient border-box;
    color: $border-color;
    -webkit-text-fill-color: $border-color;
  }
}